
<div class="container relative mt-4">
{% if cart.item_count > 0 %}
  <h1 class="text-center py-4">{{ 'cart.general.title' | t }}</h1>

      <form action="/cart" method="post" novalidate>
        <div class="overflow-scroll">
          <table class="table-auto w-table-sm md:w-full">
            <thead class="text-left font-montserrat font-normal text-sm text-gray-400 border-b border-gray-300">
              <tr>
                  <th class="py-2">ITEM</th>
                  <th class="py-2 px-4 text-right">SIZE</th>
                  <th class="py-2 px-4 text-center">QTY</th>
                  <th class="py-2 px-4 text-right">PRICE</th>
                  <th class="py-2 px-4 text-right">TOTAL</th>
                  <th class="py-2 px-4"></th>
              </tr>
            </thead>
            <tbody class="font-lato text-sm border-b border-gray-300">

              {% for item in cart.items %}

              {% comment %}

              Cart Item Template
              =====================
              The data-label attributes on <td> elements are mobile-friendly
              helpers used for responsive-table labels
              {% endcomment %}

                <tr class="relative">
                  <td class="my-4 flex flex-no-wrap items-center"
                      data-label="{{ 'customer.order.product' | t }}">

                    {% if item.image != blank %}
                      <a  href="{{ item.url | within: collections.all }}">
                        <img class="w-20 h-24 object-cover" src="{{ item.image | img_url: '80x96' }}" alt="">
                      </a>
                    {% else %}
                        <div class="w-20 h-24 bg-gray-400"></div>
                    {% endif %}

                    <a href="{{ item.url }}" 
                       class="font-unna w-44 text-sm md:text-base lg:text-xl ml-4 w-full">{{ item.product.title }} </a>

                    

                  </td>
                  <!-- Size -->
                  <td class="my-4 text-right px-4">
                      {% unless item.product.has_only_default_variant %}
                        {{ item.variant.title }}
                      {% endunless %}

                      {%- assign property_size = item.properties | size -%}

                      {% if property_size > 0 %}
                        {% for p in item.properties %}
                          {% unless p.last == blank %}
                          {{ p.first }}:

                          {% if p.last contains '/uploads/' %}
                            <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                          {% else %}
                            {{ p.last }}
                          {% endif %}

                          {% endunless %}
                        {% endfor %}
                      {% endif %}
                  </td>
                  <!-- Size End -->

                  <!-- QTY -->
                  <td class="my-4 px-4 text-center" data-label="{{ 'cart.label.quantity' | t }}">
                      <input type="number"
                            name="updates[]"
                            id="updates_{{ item.key }}"
                            value="{{ item.quantity }}"
                            min="0"
                            class="w-15 py-2 px-1 text-center"
                            aria-label="{{ 'cart.general.item_quantity' | t }}">
                  </td>
                  <!-- QTY End -->

                  <!-- Price  -->
                  <td class="my-4 text-right px-4" data-label="{{ 'cart.label.price' | t }}">
                      {% if item.original_line_price != item.line_price %}
                        <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                        {{ item.price | money }}
                        <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                        <s>{{ item.original_price | money }}</s>
                      {% else %}
                        {{ item.price | money }}
                      {% endif %}
                  </td>
                  <!-- Price End -->
                  
                  <!-- Total  -->
                  <td class="my-4 text-right px-4" data-label="{{ 'cart.label.total' | t }}">
                    {{ item.line_price | money }}

                  </td>
                  <!-- Total End -->

                  <!-- Delete -->
                  <td class="my-4 px-4 relative">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
                          class="flex items-center absolute right-0 inset-y-0">
                          <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M19.5 5h-1.64L17 17a2.006 2.006 0 0 1-2 2H5a2.006 2.006 0 0 1-2-2L2.14 5H1a1.173 1.173 0 0 1-1-.5v-1A1.173 1.173 0 0 1 1 3h4V2a2 2 0 0 1 2-2h6a1.993 1.993 0 0 1 2 2v1h4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5zM12 2H8a1 1 0 0 0-1 1h6a1 1 0 0 0-1-1zm4 3H4l1 11a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1l1-11zm-3.5 9h-1a.5.5 0 0 1-.5-.5v-5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5zm-4 0h-1a.5.5 0 0 1-.5-.5v-5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5z" fill="#CCC" fill-rule="nonzero"/></svg>
                      </a>
                  </td>
                  <!-- Delete End -->
                </tr>

              {% endfor %}
            </tbody>
            <tfoot class="border-b border-gray-300">
                <tr class="-mx-4">
                    <td class="py-4 flex items-center">
                        <a href="pages/shop" class="cursor-pointer font-montserrat font-bold text-sm text-green-400">Continue shopping?</a> 
                    </td>

                    <td class="text-right px-4 py-4 font-montserrat text-sm font-regular w-56">
                        {% if shipping_method.price > 0 %}
                            <span class="font-montserrat text-sm font-thin text-gray-500 uppercase">Shipping:&nbsp;</span>
                              {{ shipping_method.price }}
                        {% endif %}
                    </td>
                    
                    <td colspan="4" class="px-4 py-4 relative font-montserrat text-lg font-regular">
                        <div class="flex flex-no-wrap items-center absolute right-0 inset-y-0">
                            <span class="font-montserrat text-sm font-thin text-gray-500 uppercase">Total Price:&nbsp;</span>
                            {{ cart.total_price | money }}
                        </div>
                    </td>

                </tr>
            </tfoot>
          </table>
        </div>
        <div class="flex flex-wrap items-center md:justify-end font-montserrat font-bold text-xs md:text-sm my-4 -mx-1">
            <input class="cursor-pointer flex items-center justify-center mx-1 text-green-400 uppercase h-10 md:h-12 w-32 md:w-48 border border-green-400 bg-white"
                    type="submit" 
                    name="update" 
                    value="{{ 'cart.general.update' | t }}">
            <input class="cursor-pointer flex items-center justify-center mx-1 text-white uppercase h-10 md:h-12 w-32 md:w-48 bg-green-400"
                  type="submit"
                  name="checkout" 
                  value="{{ 'cart.general.checkout' | t }}" >
        </div>
      </form>
{% else %}
  <h1 class="text-center py-4">{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>Continue browsing 
      <a class="text-brown-400" href="pages/shop">here</a></p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}
</div>
