<div class="banner">
    <img class="object-cover w-full" src="{{ 'article.jpg' | asset_url }}">
</div>

<!-- Main Content -->
<div class="container">
    <div class="flex flex-wrap justify-center py-10">
        <div class="w-full md:w-2/3 lg:w-1/2">
            <div class="">

                <div class="flex flex-col text-center">
                    <p class="p-reset font-montserrat font-bold text-gray-500 text-xs ">BEAUTY</p>
                    <h1 class="my-4">Lily Wong: Hand-Painted and One-of-a-kind</h1>

                    <!-- Icons -->
                    <div class="flex items-center justify-center">
                        <div class="flex items-center px-3">
                            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9 18A9 9 0 1 1 9 0a9 9 0 0 1 0 18zM9 .99a8.01 8.01 0 1 0 0 16.02A8.01 8.01 0 0 0 9 .99zM14 10H8V4h1v5h5v1z"
                                    fill="#999" fill-rule="nonzero" /></svg>
                            <span class="font-lato text-xs sm:text-base text-gray-500 px-1 sm:px-2">10 minutes</span>
                        </div>

                        <div class="flex items-center px-3">

                            <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15 14H9.33L6 17.33V18H5v-4H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3zm2-11a2.006 2.006 0 0 0-2-2H3a2.006 2.006 0 0 0-2 2v8a2.006 2.006 0 0 0 2 2h3v2.67L8.67 13H15a2.006 2.006 0 0 0 2-2V3z"
                                    fill="#999" fill-rule="nonzero" /></svg>
                            <span class="font-lato text-xs sm:text-base text-gray-500 px-1 sm:px-2">10</span>
                        </div>

                        <div class="flex items-center px-3">

                            <svg width="19" height="20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.25 12.5a3.759 3.759 0 0 0-2.96 1.45l-5.07-2.52c.37-.917.37-1.943 0-2.86l5.07-2.53a3.612 3.612 0 1 0-.51-.86L6.71 7.7a3.755 3.755 0 1 0 0 4.59l5.07 2.53a3.752 3.752 0 1 0 3.47-2.32zm0-11.5a2.75 2.75 0 1 1 0 5.5 2.75 2.75 0 0 1 0-5.5zM3.75 12.75a2.75 2.75 0 1 1 0-5.5 2.75 2.75 0 0 1 0 5.5zM15.25 19a2.75 2.75 0 1 1 0-5.5 2.75 2.75 0 0 1 0 5.5z"
                                    fill="#999" fill-rule="nonzero" /></svg>

                            <span class="font-lato text-xs sm:text-base text-gray-500 px-1 sm:px-2">Share 10</span>
                        </div>
                    </div>
                    <!-- Icons End -->

                    <!-- Subheader -->
                    <p class="font-lato text-base leading-relaxed italic mt-10 mx-8">
                        “Applying classical painting techniques to wearables, Lily Wong dreamed up a brand that equal
                        parts fine art and fashion. Her shop, Zen Zone, features tees, pants, and backpacks “created to
                        put you in the chillest of moods ”
                    </p>
                    <!-- Subheader End -->
                </div>


                <!-- Article -->
                <div class="">
                    <h2>What is the story behind your brand?</h2>

                    <p>
                        I think it was born out of frustration. I had all these ideas and images in my head, but
                        couldn’t figure out how I wanted to turn them into a drawing. At the same time, I was also
                        really bored with all my clothes, so I just bought a pack of blank t-shirts and paints and went
                        for it. It was a really good way to get over my creative block.
                    </p>
                    <p>
                        Well, I also work at a restaurant, so I try my best to fill most of my free time with making
                        art! But I’m lucky to be surrounded by lots of creative people, so that even when I’m not making
                        art, I always feel creatively encouraged and stimulated. I also eat a lot of snacks, try to take
                        care of my plants, and make friends with dogs.
                    </p>
                    <p>
                        Each of my products is painted by hand. I originally had a few designs that were made to order,
                        but painting the same thing from a template over and over got very tiresome. So now I just make
                        products that are one of a kind. There’s no real plan or process to it, really.
                    </p>

                    <img src="{{ 'article-2.jpg' | asset_url }}" class="object-cover">

                    <h2>Tell us more about your painting style and how you developed it.</h2>

                    <p>
                        When I first started painting with ink, I was using calligraphy or sumi-e brushes, which are
                        very soft and hold a lot of ink. I was really attracted to this because it helped me to paint
                        with a certain type of looseness that I generally don’t have. Eventually.
                    </p>

                    <p>
                        The funny thing is that painting on clothes with those watercolor brushes feels a lot like
                        painting with calligraphy brushes on paper. It made me miss those qualities in my painting, so
                        I’ve been playing around with sumi-e brushes again. It’s been kind of tricky, I’ve forgotten how
                        to use them, but I think that art is a constant process of having to unlearn what you know then
                        re-learning it in a new way all over again.
                    </p>

                    <p class="highlight">
                        Please find out more about the number of treatments you may need, the expectation of results,
                        the side effects and the proficiency of the technician before you proceed for treatment.
                    </p>

                    <p>
                        I finally got to purchase one of her woven blankets and I’m so happy with it. I’ve always
                        admired her store and related a lot to her aesthetic. In a way, it encouraged me to start my
                        own.
                    </p>

                    <p>
                        I’ve actually relocated my work space…to another room in my apartment, which looks like a larger
                        version of my old space. Haha! I’m very much a creature of comfort when it comes to my work. I
                        guess that’s probably why my room looks so much like my drawings. It’s fun to draw in museums or
                        sketch out ideas when I’m in a coffee shop or at the beach or something like that. But when I am
                        really ready to flesh out an idea, I need to be in my own space surrounded with all my tools and
                        things just the way I like it.
                    </p>
                </div>

                <hr class="w-full border-t my-10">

                <!-- Article End -->

                <!-- Author -->
                <div class="flex flex-wrap">
                    <div class="w-full md:w-1/2">
                        <div class="flex items-center">
                            <img class="object-cover max-w-user-icon max-h-user-icon"
                                src="{{ 'user.png' | asset_url }}">
                            <span class="ml-3 uppercase">patrick walker</span>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 flex items-center justify-start md:justify-end mt-4 md:mt-0">
                        <span class="text-gray-400">Share:</span>

                        <!-- FB -->
                        <div class="px-2">
                            <a href="#" class="text-gray-300 hover:text-brown-400">
                                <svg width="8" height="18" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7 9H5v9H2V9H0V6h2V4c0-1.47-.292-4 3-4h3v3H6a1.026 1.026 0 0 0-1 1v2h3L7 9z"
                                        fill="currentColor" fill-rule="nonzero" /></svg>
                            </a>
                        </div>

                        <!-- Twitter -->
                        <div class="px-2">
                            <a href="#" class="text-gray-300 hover:text-brown-400">
                                <svg width="20" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.953 3.98A11.5 11.5 0 0 1 6.289 16 11.793 11.793 0 0 1 0 14.19c.319.03.647.05.978.05a8.344 8.344 0 0 0 5.1-1.73A4.1 4.1 0 0 1 2.243 9.7c.254.052.512.079.771.08.365 0 .729-.047 1.082-.14A4.065 4.065 0 0 1 .803 5.63c.572.31 1.208.481 1.858.5A4.013 4.013 0 0 1 .837 2.77 3.963 3.963 0 0 1 1.391.74a11.734 11.734 0 0 0 8.457 4.22 4.073 4.073 0 0 1 4-4.96 4.139 4.139 0 0 1 2.994 1.27A8.11 8.11 0 0 0 19.45.29a4.065 4.065 0 0 1-1.8 2.24 8.428 8.428 0 0 0 2.356-.64 8.234 8.234 0 0 1-2.053 2.09z"
                                        fill="currentColor" fill-rule="nonzero" /></svg>
                            </a>
                        </div>

                        <!-- Instagram -->
                        <div class="px-2">
                            <a href="#" class="text-gray-300 hover:text-brown-400">
                                <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 0h9a6 6 0 0 1 6 6v9a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6zm0 2a4 4 0 0 0-4 4v9a4 4 0 0 0 4 4h9a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4H6zm4.5 3A5.5 5.5 0 1 1 5 10.5 5.7 5.7 0 0 1 10.5 5zm.08 2a3.666 3.666 0 0 0-3.564 3.56 3.419 3.419 0 0 0 3.421 3.42 3.665 3.665 0 0 0 3.565-3.56A3.42 3.42 0 0 0 10.58 7zM16 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                                        fill="currentColor" fill-rule="nonzero" /></svg>
                            </a>
                        </div>

                        <!-- GPlus -->
                        <div class="px-2">
                            <a href="#" class="text-gray-300 hover:text-brown-400">
                                <svg width="30" height="19" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9 8.112v3s3.64-.22 5.06-.22c-.77 2.31-1.97 3.57-4.93 3.57a5.345 5.345 0 1 1 0-10.69 5.234 5.234 0 0 1 3.54 1.31c.75-.74.69-.85 2.6-2.62a9.061 9.061 0 1 0-6.14 15.66c7.53 0 9.48-5.7 8.87-10.01H9zm18 0v-3h-3v3h-3v3h3v2.99l3 .01v-3h3v-3h-3z"
                                        fill="currentColor" fill-rule="nonzero" /></svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Author End -->
            </div>

        </div>
    </div>
</div>
<!-- Main Content -->

<!-- Other Articles -->
<div class="w-full border border-gray-200">
    <div class="container">
        <div class="relative">
            <div id="suggested-articles" class="flex flex-wrap h-64">

                <div class="w-full md:w-1/2">
                    <div class="flex flex-wrap justify-center py-10">
                        <div class="md:w-2/3 lg:w-1/2">
                            <h3>Get Ready Fast For Fall Leaf Viewing Trips</h3>
                            <p class="text-base">On the PlayStation Vita system, gamers can play over 1,000 PlayStation
                                games</p>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2">
                    <div class="flex flex-wrap justify-center py-10">
                        <div class="md:w-2/3 lg:w-1/2">
                            <h3>Second Article</h3>
                            <p class="text-base">On the PlayStation Vita system, gamers can play over 1,000 PlayStation
                                games</p>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2">
                    <div class="flex flex-wrap justify-center py-10">
                        <div class="md:w-2/3 lg:w-1/2">
                            <h3>Third Article</h3>
                            <p class="text-base">On the PlayStation Vita system, gamers can play over 1,000 PlayStation
                                games</p>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2">
                    <div class="flex flex-wrap justify-center py-10">
                        <div class="md:w-2/3 lg:w-1/2">
                            <h3>4th Get Ready Fast For Fall Leaf Viewing Trips</h3>
                            <p class="text-base">On the PlayStation Vita system, gamers can play over 1,000 PlayStation
                                games</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- arrow left -->
            <div class="hidden md:flex absolute inset-y-0 left-0 flex items-center">
                <div id="articles-prev" class="">
                    <svg width="37" height="8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.004 5.038V3.024H6.033V0L0 3.977l6.035 4.049v-2.98z" fill="#000"
                            fill-rule="evenodd" /></svg>
                </div>
            </div>

            <!-- arrow right -->
            <div class="hidden md:flex absolute inset-y-0 right-0 flex items-center">
                <div id="articles-next" class="">
                    <svg width="37" height="8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M.021 2.987v2.015h30.971v3.024l6.033-3.977L30.99 0v2.98z" fill="#000"
                            fill-rule="evenodd" /></svg>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Other Articles End -->

<!-- Comments -->
<div class="container">
    <div class="flex flex-wrap justify-center py-10">
        <div class="w-full md:w-2/3 lg:w-1/2">
            <div class="">
                <h3 class="text-center">Comments</h3>

                <div class="my-10">
                    <img class="absolute object-cover max-w-user-icon max-h-user-icon"
                        src="{{ 'user-2.png' | asset_url }}">
                    <div class="flex flex-col items-start ml-14">
                        <div class="flex items-center">
                            <p class="text-gray-500 font-montserrat text-sm uppercase m-0">rena edwards</p>
                            <p class="text-gray-400 font-montserrat text-xs m-0 px-4">Feb 12, 2017 8:24 PM</p>
                        </div>
                        <p class="leading-normal my-2 text-justify">
                            This is really, really important & well-spoken. These haters in the responses don’t get it,
                            but I hope that reading your piece may have nudged them in the right direction.
                        </p>
                    </div>
                </div>

                <div class="my-10">
                    <img class="absolute object-cover max-w-user-icon max-h-user-icon"
                        src="{{ 'user-3.png' | asset_url }}">
                    <div class="flex flex-col items-start ml-14">
                        <div class="flex items-center">
                            <p class="text-gray-500 font-montserrat text-sm uppercase m-0">rena edwards</p>
                            <p class="text-gray-400 font-montserrat text-xs m-0 px-4">Feb 12, 2017 8:24 PM</p>
                        </div>
                        <p class="leading-normal my-2 text-justify">
                            This is really, really important & well-spoken. These haters in the responses don’t get it,
                            but I hope that reading your piece may have nudged them in the right direction.
                        </p>
                    </div>
                </div>

                <div class="my-10">
                    <img class="absolute object-cover max-w-user-icon max-h-user-icon"
                        src="{{ 'user-2.png' | asset_url }}">
                    <div class="ml-14">
                        <form class="">
                            <textarea rows="3" class="w-full border border-gray-200 p-2"
                                placeholder="Write your comment"></textarea>

                            <div class="flex w-full justify-end">
                                <input
                                    class="font-montserrat text-sm font-bold uppercase bg-white border border-green-700 px-8 py-2 text-green-700 my-2 text-end cursor-pointer hover:bg-green-700 hover:text-white"
                                    type="submit" name="Publish" value="publish">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Comments End -->