<section data-section-id="{{ section.id }}" data-section-type="product">

  <!-- Product Inner -->
  <div class="container py-8">
    <div class="flex flex-wrap -mx-4">

      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}


      <!-- Product Images Start -->
      <div class="w-full md:w-1/2 px-4">
        <div id="slider-for">
          {% for image in product.images %}

          <img class="object-cover h-auto lg:h-product-solo w-full" src="{{ image.src | img_url }}" alt="">


          {% endfor %}
        </div>

        <div class="-mx-1 mt-2 overflow-hidden">
          <div id="slider-nav" class="overflow-hidden">
            {% if product.images.size > 1 %}
            {% for image in product.images %}
            <div class="px-1">
              <img class="object-cover h-auto lg:h-product-mini w-full product-single__thumbnail-image"
                src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">

            </div>
            {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>
      <!-- Product Images End -->


      <!-- Product Section Half Start -->
      <div class="w-full md:w-1/2 px-4">
        <div class="flex flex-col">
          <!-- Product Details Start -->
          <div class="flex flex-col py-6">
            <div class="flex flex-wrap -mx-2">
              <span class="uppercase font-montserrat text-sm text-gray-400 px-2">Shop</span>
              <span class="uppercase font-montserrat text-sm text-gray-400 px-2">/</span>
              <span class="uppercase font-montserrat text-sm text-gray-400 px-2">Clothes</span>
              <span class="uppercase font-montserrat text-sm text-gray-400 px-2">/</span>
              <span class="uppercase font-montserrat text-sm text-gray-400 px-2">Jackets</span>
            </div>

            <h1 class="py-2">{{ product.title }}</h1>

            <p class="p-reset text-gray-500">{{ product.description }}</p>
          </div>
          <!-- Product Details End -->

          {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="js">

                  {% if forloop.index0 > 0 %}

                  {% for value in option.values %}
                  <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]"
                    value="{{ value }}" {% if option.selected_value == value %} checked{% endif %}>
                  <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                  {% endfor %}

                  {% else %}

                  <label for="Option{{ option.position }}">
                    {{ option.name }}
                  </label>

                  <select id="Option{{ option.position }}" name="options[{{ option.name | escape }}]">
                    {% for value in option.values %}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected" {% endif %}>
                      {{ value }}
                    </option>
                    {% endfor %}
                  </select>

                  {% endif %}
                </div>
              {% endfor %}
            {% endunless %}

            <noscript>
              <select name="id">
                {% for variant in product.variants %}
                <option {% if variant == current_variant %}selected="selected" {% endif %}
                  {% unless variant.available %}disabled="disabled" {% endunless %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
                {% endfor %}
              </select>
            </noscript>

            <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1">

            
          <!-- Product Variants Start -->
          <div class="border-t border-b border-gray-500 py-6">
            <div class="flex flex-no-wrap pb-6 -mx-4">
              <div class="flex flex-col px-4">
                <span class="uppercase text-gray-500 pb-2">colour:</span>
                <select name="" id="" class="bg-white">
                  <option value="white">White</option>
                  <option value="black">Black</option>
                  <option value="pink">Pink</option>
                </select>
              </div>

              <div class="flex flex-col px-4">
                <span class="uppercase text-gray-500 pb-2">size:</span>
                <select name="" id="" class="bg-white">
                  <option value="small">Small</option>
                  <option value="medium">Medium</option>
                  <option value="large">Large</option>
                </select>
              </div>

              <a href="#" class="underline text-gray-500 font-lato text-base px-4">What is my size?</a>
            </div>

            <div class="flex flex-wrap items-center">
              
              <button type="submit" 
                      name="add" 
                      class="uppercase w-56 h-11 bg-green-400 text-white font-montserrat font-bold text-sm tracking-widest mr-2 hover:bg-green-500"
                      data-submit-button {% unless current_variant.available %}disabled="disabled"
                {% endunless %}>
                <span data-submit-button-text>
                  {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                  {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
              </button>

              <button
                class="flex justify-center items-center h-11 w-11 border border-green-500 text-green-400 hover:text-white hover:border-text-green-200 hover:bg-green-500">
                <svg width="16" height="15" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.5 1.5a3.005 3.005 0 0 1 3 3c0 4.42-4.717 7.69-6.5 8.77-1.784-1.08-6.5-4.35-6.5-8.77a3 3 0 0 1 5.333-1.88 1.5 1.5 0 0 0 1.166.55 1.5 1.5 0 0 0 1.166-.55A2.993 2.993 0 0 1 11.5 1.5zm0-1.5a4.5 4.5 0 0 1-7 0A4.5 4.5 0 0 0 0 4.5c0 6 7 10 8 10.5 1-.5 8-4.5 8-10.5A4.5 4.5 0 0 0 11.5 0z"
                    fill="currentColor" fill-rule="nonzero" /></svg>
              </button>

              <div data-price-wrapper>
                  <span class="ml-4 font-unna text-4xl" data-product-price>
                    {{ current_variant.price | money }}
                  </span>
    
                  {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  <s data-compare-price>
                    {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </s>
                  {% endif %}
              </div>
            </div>
          </div>
          <!-- Product Variants End -->
          {% endform %}

          <!-- Product Social Media + Contact Section Start -->
          <div class="flex flex-col py-6">
            <div class="flex flex-wrap -mx-2">
              <!-- FB -->
              <div class="px-2">
                <a href="#" class="text-gray-300 hover:text-brown-400">
                  <svg width="8" height="18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 9H5v9H2V9H0V6h2V4c0-1.47-.292-4 3-4h3v3H6a1.026 1.026 0 0 0-1 1v2h3L7 9z"
                      fill="currentColor" fill-rule="nonzero" /></svg>
                </a>
              </div>

              <!-- Twitter -->
              <div class="px-2">
                <a href="#" class="text-gray-300 hover:text-brown-400">
                  <svg width="20" height="16" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.953 3.98A11.5 11.5 0 0 1 6.289 16 11.793 11.793 0 0 1 0 14.19c.319.03.647.05.978.05a8.344 8.344 0 0 0 5.1-1.73A4.1 4.1 0 0 1 2.243 9.7c.254.052.512.079.771.08.365 0 .729-.047 1.082-.14A4.065 4.065 0 0 1 .803 5.63c.572.31 1.208.481 1.858.5A4.013 4.013 0 0 1 .837 2.77 3.963 3.963 0 0 1 1.391.74a11.734 11.734 0 0 0 8.457 4.22 4.073 4.073 0 0 1 4-4.96 4.139 4.139 0 0 1 2.994 1.27A8.11 8.11 0 0 0 19.45.29a4.065 4.065 0 0 1-1.8 2.24 8.428 8.428 0 0 0 2.356-.64 8.234 8.234 0 0 1-2.053 2.09z"
                      fill="currentColor" fill-rule="nonzero" /></svg>
                </a>
              </div>

              <!-- Instagram -->
              <div class="px-2">
                <a href="#" class="text-gray-300 hover:text-brown-400">
                  <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6 0h9a6 6 0 0 1 6 6v9a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6zm0 2a4 4 0 0 0-4 4v9a4 4 0 0 0 4 4h9a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4H6zm4.5 3A5.5 5.5 0 1 1 5 10.5 5.7 5.7 0 0 1 10.5 5zm.08 2a3.666 3.666 0 0 0-3.564 3.56 3.419 3.419 0 0 0 3.421 3.42 3.665 3.665 0 0 0 3.565-3.56A3.42 3.42 0 0 0 10.58 7zM16 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                      fill="currentColor" fill-rule="nonzero" /></svg>
                </a>
              </div>

              <!-- GPlus -->
              <div class="px-2">
                <a href="#" class="text-gray-300 hover:text-brown-400">
                  <svg width="30" height="19" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 8.112v3s3.64-.22 5.06-.22c-.77 2.31-1.97 3.57-4.93 3.57a5.345 5.345 0 1 1 0-10.69 5.234 5.234 0 0 1 3.54 1.31c.75-.74.69-.85 2.6-2.62a9.061 9.061 0 1 0-6.14 15.66c7.53 0 9.48-5.7 8.87-10.01H9zm18 0v-3h-3v3h-3v3h3v2.99l3 .01v-3h3v-3h-3z"
                      fill="currentColor" fill-rule="nonzero" /></svg>
                </a>
              </div>
            </div>

            <a href="#" class="underline text-gray-500 font-lato text-base pt-6 pb-2">Product information</a>

            <a href="#" class="underline text-gray-500 font-lato text-base">Deliveries and returns</a>
          </div>
          <!-- Product Social Media + Contact Section End -->
        </div>
      </div>
      <!-- Product Section Half End -->

      

      {% if section.settings.show_share_buttons %}
      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}

    </div>
  </div>
</section>

{% schema %}
{
"name": "Product pages",
"settings": [
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
}
]
}
{% endschema %}